* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.button-container {
    color: rgb(252, 252, 252);
    font-size: 14px;

}

.container {
    color: rgb(252, 252, 252);
    background-color: rgb(255, 255, 255);
    font-size: 30px;
}

.img-fluid {
    /* width: 50px;
    height: 50px; */
    margin: 0;
}

.price {
    width: 100%;
    text-align: end;
}

.title {

    color: black;
    font-size: 17px;
}

.qunitity {
    width: 100%;
    text-align: center;
}

.img {
    width: 100%;
}

.form-check-input {
    width: 0.7em;
    height: 0.7em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgb(248, 71, 236);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}



.form-check-input:checked {
    background-color: #cf0dfd;
    border-color: #f3beff;
}

button,
input,
optgroup,
select,
textarea {
    /* margin: 0; */
    font-family: inherit;
    /* font-size: inherit; */
    /* line-height: inherit; */
}

.btn {
    width: 100%;
    border-color: #f3beff;
    color: #f3beff;
    border-radius: 0px 0px 0px 0px;

}

/* .container-fluid {
    background-color: blueviolet;
} */

input:focus,
button:focus,
.input-filed:focus {
    outline: none;
    box-shadow: none;
}

.input-filed:disabled,
.input-filed[readonly] {
    background-color: #fff;
}

.button-container .input-filed {
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}

.input-filed {
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid rgb(230, 147, 255);
    color: rgb(230, 147, 255) !important;
    text-align: center;
    border-radius: .25rem;
}



.inc,
.dec {
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid rgb(230, 147, 255);
    color: rgb(230, 147, 255);
    text-align: center;
    border-radius: .25rem;

}

.inc:hover,
.dec:hover {
    background-color: rgb(230, 147, 255);
    border: 1px solid #fff;
    color: #ffffff;
}